* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 34px;
  height: 104px;
  border: 1px solid #d4d4d4;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}

.search-input {
  background-image: url(/img/search-icon.svg);
  background-repeat: no-repeat;
  padding-left: 38px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-left: 34px;
}

.navigator {
  margin-right: 44px;
  margin-left: auto;
}

.navigator-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

.button-group {
  height: 100%;
}

.button {
  height: 100%;
  cursor: pointer;
}

.sign-up {
  font-size: 18px;
  line-height: 21px;
  color: #5671f6;
  border: none;
  background-color: #fff;
  padding-right: 34px;
  padding-left: 34px;
  border-left: 1px solid #d4d4d4;
}

.login {
  font-size: 18px;
  line-height: 21px;
  background-color: #5671f6;
  border: none;
  color: #fff;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.container {
  max-width: 1570px;
  margin: auto;
}

.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 358px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 25px;
  padding-top: 25px;
  cursor: pointer;
}

.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #363636;
  margin-top: 0;
  margin-bottom: 16px;
}

.film-subtitle {
  display: block;
  margin-bottom: 32px;
  color: #a5a5a5;
  font-size: 18px;
  line-height: 21px;
}

.film-description {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  max-width: 514px;
  margin-bottom: 50px;
}

.about-film {
  display: flex;
  margin-bottom: 50px;
}

.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}

.about-tex-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
  color: #363636;
}

.left-side {
  margin-right: 40px;
}

.reting {
  display: flex;
  align-items: center;
}

.reting-counter {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5671f6;
  border-radius: 10px;
  margin-right: 24px;
}

.reting-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 12px;
}

.reting-film {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
}

.reting-text-bold {
  font-weight: bold;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  margin-right: 30px;
}

.section-title.active {
  color: #363636;
  font-weight: 900;
}

.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
}

.en-name {
  color: #a5a5a5;
}

.news {
  background-color: #f3f3f3;
  padding-bottom: 100px;
  padding-top: 70px;
}

.section-news-title {
  font-weight: 900;
  color: #000000;
  margin-bottom: 65px;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  flex-basis: 23%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}

.date {
  font-size: 14px;
  line-height: 16px;
}
.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 14px;
}
